{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>Facilito_store</title>
</head>
<body>
    <div class="container">
        {% block messages %}
        {% if messages %}
            {% for message in messages%}
                <div class="alert alert-dismissible fade show {% if message.tags == 'success'%}alert-success{% else%} alert-danger {% endif %}">
                    <button type="button" class="btn btn-close" data-bs-dismiss="alert"></button>
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
        {% endblock %}
        {% block container %}

        {% endblock %}
    </div>
</body>
</html>